USE [Webbanxe]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[IDHOADON] [int] NOT NULL,
	[IDSANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC,
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[ID] [int] NOT NULL,
	[TENTAIKHOAN] [varchar](50) NULL,
	[NGAYMUA] [datetime] NULL,
	[DIACHIGIAOHANG] [nvarchar](max) NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
	[TONGTIEN] [int] NULL,
	[IDNHANVIEN] [int] NULL,
	[IDKHACHHANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [int] NOT NULL,
	[TENTAIKHOAN] [varchar](50) NULL,
	[HOVATEN] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](max) NULL,
	[GIOITINH] [bit] NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[ID] [int] NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] NOT NULL,
	[TENTAIKHOAN] [varchar](50) NULL,
	[HOVATEN] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[LUONG] [int] NULL,
	[GIOITINH] [bit] NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [int] NOT NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[IDLOAI] [int] NULL,
	[GIATIEN] [int] NULL,
	[ANHMINHHOA] [nvarchar](max) NULL,
	[XOA] [bit] NULL,
	[SOLUONGTONKHO] [int] NULL,
	[GHICHU] [ntext] NULL,
	[KHOILUONG] [nvarchar](50) NULL,
	[DAIxRONGxCAO] [ntext] NULL,
	[DUNGTICHXANG] [nvarchar](max) NULL,
	[KICHCOLOPXE] [nvarchar](max) NULL,
	[LOAIDONGCO] [nvarchar](max) NULL,
	[DUONGKINHxHANHTRINHPITTONG] [nvarchar](max) NULL,
	[TYSONEN] [nvarchar](max) NULL,
	[CONGSUAT] [nvarchar](max) NULL,
	[MOMENCUCDAI] [nvarchar](50) NULL,
	[DUNGTICHNHOT] [nvarchar](50) NULL,
	[LOAITRUYENDONG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/9/2019 8:12:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[NHANVIEN] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_HOADON] FOREIGN KEY([IDHOADON])
REFERENCES [dbo].[HOADON] ([ID])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_HOADON]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_SANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_SANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([TENTAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TENTAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([IDLOAI])
REFERENCES [dbo].[LOAISANPHAM] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
